{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-2">
    {{ form_start(form) }}
        <div class="form-group">
            {{form_widget(form.titular, { 'attr': {'placeholder': 'Titular'} }) }}
        </div>
        <div class="form-group">
            {% if accion == 'crear' %}
                {{form_widget(form.imagen , {'attr' : { 'required' : true}}) }}
            {% else %}
                {{form_widget(form.imagen) }}
            {% endif %}
        </div>
        <div class="form-group">
            {{form_widget(form.resumen, { 'attr': {'placeholder': 'Escriba aquí el resumen...'} }) }}
        </div>
        <div class="form-group">
            {{form_widget(form.contenido, { 'attr': {'placeholder': 'Escriba aquí el contenido...'} }) }}
        </div>
        {{form_widget(form.save) }}
    {{ form_end(form) }}
</div>
{% endblock %}