{% extends 'base.html.twig' %} {% block body %}
<div class="container my-2">
    <div class="row">
        <div class="col-12 col-lg-5">
            <img width="400px" height="300px" src="{{juego.background_image}}" alt="...">
            <h1>{{juego.name}}</h1>
        </div>
        <div class="col-12 col-lg-7">
            <div class="row my-2">
                <div class="col-12 col-lg-4">
                    Puntuación :
                    <br>
                    <span style="font-size: 300%;">{{juego.rating}}</span>
                </div>
                <div class="col-12 col-lg-4">
                    Metacritic :
                    <br>
                    <span style="font-size: 300%;">{{juego.metacritic}}</span>
                </div>
                <div class="col-12 col-lg-4">
                    {% if app.user %}
                    <button id="botonMostrar" class="btn btn-primary mt-2 d-block" onclick="mostrarFormulario()">Añadir</button>
                    <div id="form" class="mt-2 d-none">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{form_widget(form.estado) }}
                        </div>
                        {{form_widget(form.save) }} 
                        <a id="eliminar" class="d-none" href="{{path('eliminarJuego', {'id' : juego.id})}}"><small>Eliminar</small></a>
                        {{ form_end(form) }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    Plataformas: {% for plataforma in juego.platforms%} <span class="badge badge-primary">{{plataforma.platform.name}}</span> {% endfor %}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    Géneros: {% for genero in juego.genres%} <span class="badge badge-primary">{{genero.name}}</span> {% endfor %}
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12">
                    Tags: {% for tag in juego.tags%} <span class="badge badge-primary">{{tag.name}}</span> {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <small>Fecha de lanzamiento: {{juego.released|date('d-m-Y')}}</small>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            {{juego.description|raw}}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('js/scriptForm.js') }}"></script>
{% endblock %}
